
table {
    width: 80%; /* Set table width */
    margin: 20px auto; /* Center the table */
    border-collapse: collapse; /* Remove space between cells */
    border: 1px solid #444; /* Border color */
}

th, td {
    padding: 15px; /* Cell padding */
    text-align: left; /* Align text to the left */
}

th {
    background-color: #1e1e1e; /* Darker background for header */
    border-bottom: 2px solid #444; /* Header bottom border */
}

tr:nth-child(even) {
    background-color: #2a2a2a; /* Dark background for even rows */
}

tr:hover {
    background-color: #333; /* Highlight row on hover */
}

td {
    border-bottom: 1px solid #444; /* Bottom border for cells */
}




.green{
    background-color: green;
    color: orange;
}
.red{
    background-color: red;
    color: orange;
}