<div class="full">
    <img src="\assets\one.jpg" alt="one" width="150px" height="100px" *ngIf="r==1">
    <img src="\assets\two.jpg" alt="two" width="150px" jeight="100px" *ngIf="r==2">
    <img src="\assets\three.jpg" alt="three" width="150px" height="100px" *ngIf="r==3">
    <img src="\assets\four.jpg" alt="four" width="150px" height="100px" *ngIf="r==4">
    <img src="\assets\five.jpg" alt="five" width="150px" height="100px" *ngIf="r==5">
    <img src="\assets\six.jpg" alt="six" width="150px" height="100px"  *ngIf="r==6">
    <br>
    <br>
    <button (click)="result()">rolldice</button>

</div>
