<div class="parent">
    <div class="top"></div>
    <div class="bottom">
        <h1>list of student details</h1>
    <div class="card" *ngFor="let apple of student; let i=index">
        <!-- <label>sno.{{i+1}}</label><br> -->
        <label>name:{{student.name}}</label><br>
        <label>phone:{{student.phone}}</label><br>
        <label>city:{{student.city}}</label><br>
        <label>dob:{{student.dob}}</label><br>
        <label>profile_picture:{{student.profile_picture}}</label><br>
        <label>email:{{student.email}}</label><br>
        <label>school_logo{{student.school_logo}}</label><br>
        <label>school_name{{student.school_name}}</label><br>
        <label>school_city{{student.school_city}}</label><br>
        <label>school_pin{{student.schol_pin}}</label><br>
        <label>id{{student.id}}</label><br>
        <label>profile{{student.profile}}</label><br>   

        <button >view</button>
        <button >edit</button>
        <button >delete</button>
    
    </div>
    
    </div>

</div>

