<div class="parent">
    <div class="childone">

        <h2 routerLink="home">home</h2>

        <h2 routerLink="welcome">welcome</h2>
        <h2 routerLink="databinding">data binding </h2>
        <h2 routerLink="calculator">calculator</h2>
        <h2 routerLink="rectangle">rectangle</h2>
        <h2 routerLink="circle">circle</h2>
        <h2 routerLink="bmi">bmi</h2>
        <h2 routerLink="dice">dice</h2>
        <h2 routerLink="directives">directives</h2>
        <h2 routerLink="pipes">pipes</h2>
        <h2 routerLink="task">task</h2>
        <h2 routerLink="productssales">productssales</h2>
        <h2 routerLink="higher-order">higher-order</h2>
        <h2 routerLink="flipkart">flipkart</h2>
        <h2 routerLink="amazon">amazon</h2>
        <h2 routerLink="vehicle">vehicle</h2>
        <h2 routerLink="employidcards">employidcards</h2>
        <h2 routerLink="banktask">banktask</h2>
        <h2 routerLink="flipkartapitask">flipkartapitask</h2>
        <h2 routerLink="mailapitask">mailapitask</h2>
        <h2 routerLink="create-vehicle">create-vehicle</h2>
        <h2 routerLink="createbanktask">createbanktask</h2>
        <h2 routerLink="student">student</h2>
        <h2 routerLink="create-user">create-user</h2>
        <h2 routerLink="student-progress">student-progress</h2>
        <br>
        <button (click)="logout()">logout</button>


        
    </div>
    <div class="childtwo">
        <router-outlet></router-outlet>
    </div>
</div>